
canvas {
  z-index: 1;
  display : inline-flex

}

body {
  background-image: url("../img/cover-back.png");
  /*background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  font-size: 1em;
  font-family: robot
}

h1{
  font-family: "Caesar Dressing", cursive;
  color: white;
  text-align: center;
  font-size: 10em;
  background-color: red;
  margin-left: 20%;
  margin-right: 20%;
  z-index: 2;
  border-radius: 12px;
}

h2{
font-size: 2em;
font-family: "Caesar Dressing", cursive;
}

h3{
font-size: 1.3em;
font-family: "Caesar Dressing", cursive;
}

.wrapper {
  display: flex;
}

.box{
background-color: white;
border-radius: 10px;
border: 3px solid #133a13;
width: 200px;
height: 400px;
margin: auto;

}

.instructions-box{
  display : inline-flex
}


.score-box {
  position: absolute;
  right: 20px;
  display : inline-flex;
  margin: auto;
}



#african-gif {
  width: 900px;
  height: 600px;
  position: absolute;
  left: 20%;
  top:20%;
  z-index: -1;

}




.life-status {
  font-size: 0.7em;
}

.points {
  font-size: 1.2em;
}

.lives {
  font-size: 1em;
}

.lost {
  display: none;
  width: 900px;
  height: 600px;
  position: absolute;
  left: 15%;
  top: 15%;
}

.looserDiv {
  display: inline;
  width: 900px;
  height: 600px;
  position: absolute;
  left: 15%;
  top: 15%;
  border: 3px solid blue;
}


.restart-button {

}

.win {

}

.winnerDiv {

}
